<%- include layouts/header.ejs %>

        <div class="page-data">
            
            <form method="post" action="/students/add">
                <table cellpadding="11">
                <tr>
                    <td class="label">Name</td><td>: <input type="text" name="name" required></td>
                 </tr>
                 <tr>
                    <td class="label" valign="top">Address</td><td valign="top">: 
					<textarea name="address" required cols="30" rows="5"></textarea></td>
                </tr>
                <tr>
                    <td class="label">Phone</td><td>: <input type="text" name="phone" required></td>
                 </tr>
                  <tr>
                    <td class="label">Sex</td><td>: <input type="text" name="sex" required></td>
                 </tr>
                  <tr>
                    <td class="label">IC</td><td>: <input type="text" name="ic" required></td>
                 </tr>
                  <tr>
                    <td class="label">Code</td><td>: <input type="text" name="student_code" required></td>
                 </tr>
				 
				 <tr>
                    <td class="label">Age</td><td>: <input type="text" name="age" required></td>
                 </tr>
				 <tr>
                    <td class="label">Emergency</td><td>: <input type="text" name="emergency_contact" required></td>
                 </tr>
				 <tr>
                    <td class="label">Class</td><td>: <input type="text" name="student_class" required></td>
                 </tr>
				 <tr>
                    <td class="label">Year</td><td>: <input type="text" name="year" required></td>
                 </tr>
                 <tr>
                    <td class="label"></td>
                    <td>
                        &nbsp; <input type="submit" name="submit" value="Save">
                       <input type="button" name="cancel" value="Cancel" class="cancel" onClick="cancelAdd()">
                    </td>
                 </tr>
                </table>
            </form>
            
        </div>
        
<%- include layouts/footer.ejs %>
